<!doctype html>
<html lang="{{locale}}">
	<head>
		<title>Doka Photos</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="HandheldFriendly" content="True">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{get description locale}}">
		<meta name="p:domain_verify" content="1b2295f61f474d29bd3b6038b61c0f5b">
		<meta property="article:publisher" content="https://www.facebook.com/dokaphotos">

		<link rel="shortcut icon" href="/favicon.png" type="image/png">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/styles/site.css" rel="stylesheet">
		<link rel="canonical" href="{{baseUrl}}">

		{{{hreflang url locale}}}
		{{> meta/twitter}}
		{{> meta/open-graph}}
	</head>
	<body>
		{{> nav}}

		{{> flash-messages}}

		{{{body}}}

		{{> footer}}

		<script src="/js/site.js"></script>

		{{#if (ifeq section "blog")}}
			<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
		{{/if}}
	</body>
</html>
