<div class="column is-{{size}}" title="{{get item.title locale}}">
  <a
    href="#"
    data-featherlight='{{> "image-slider" labels=true polyglot=polyglot left=item.first_image right=item.second_image}}'>
    {{#if item.second_image}}
      <figure
        class="image is-square lazyload"
        data-bgset="{{cloudinaryUrl item.second_image}}"
        data-sizes="auto"></figure>
    {{else}}
      <figure
        class="image is-square lazyload"
        data-bgset="{{cloudinaryUrl item.first_image}}"
        data-sizes="auto"></figure>
    {{/if}}
  </a>
</div>
