{{> doka-header image=data.banner logo=true}}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <h1 class="title is-1">{{get data.title locale}}</h1>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          {{{get data.content locale}}}
        </div>
      </div>
    </div>
  </div>
</section>
