{{> doka-header image=page.banner logo=true}}

<div class="container">
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-1">{{get page.title locale}}</h1>
					{{#if data.category}}
						<h2 class="subtitle">{{get data.category.name locale}}</h2>
					{{/if}}
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="tile is-ancestor blog-index">
      {{#each data.posts.results as |post|}}
        {{> blog/post-card polyglot=../polyglot post=post locale=../locale}}
      {{/each}}
    </div>
  </section>
</div>

{{> blog/pagination posts=data.posts}}
