{{#if enquirySubmitted}}
  <div class="container">
    <div class="notification is-success">
      <h3>{{__ 'contact.success_message'}}</h3>
    </div>
  </div>
{{/if}}

{{> doka-header image=page.banner logo=true}}

<div class="container">
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-1">{{get page.title locale}}</h1>

          <div class="columns">
            <div class="column">
              <div class="content">
                <p>{{{get page.info locale}}}</p>

                <form method="POST" class="pure-form pure-form-stacked">
									<input type="hidden" name="action" value="contact">

                  <div class="field">
                    <div class="control has-icons-left">
                      <input
                      class="input"
                      id="name"
                      name="name.full"
                      placeholder="{{__ 'contact.name'}}"
                      type="text"
                      value="{{formData.[name.full]}}"
                      required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
                  </div>

                  <div class="field">
                    <div class="control has-icons-left">
                      <input
                        class="input"
                        id="email"
                        name="email"
                        placeholder="{{__ 'contact.email'}}"
                        type="email"
                        value="{{formData.email}}"
                        required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                  </div>

                  <div class="field">
                    <div class="control has-icons-left">
                      <input
                        class="input"
                        id="subject"
                        name="subject"
                        placeholder="{{__ 'contact.subject'}}"
                        type="text"
                        value="{{formData.subject}}"
                        required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </div>
                  </div>

                  <div class="field">
                    <div class="control has-icons-left">
                      <textarea
                        class="input"
                        id="message"
                        name="message"
                        placeholder="{{__ 'contact.message'}}"
                        value="{{formData.message}}"
                        required></textarea>
                      <span class="icon is-small is-left">
                        <i class="fa fa-newspaper-o"></i>
                      </span>
                    </div>
                  </div>

                  <div class="field is-grouped">
                    <div class="control">
                      <button type="submit" class="button is-info">{{__ 'contact.submit'}}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="column social-links">
              <div class="content">
                <p></p>
                <p>{{__ "contact.social_header"}}</p>
              </div>

              {{#each social}}
                {{> contact/social icon=icon name=name url=url}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
