{{> doka-header image=page.banner logo=true}}

<div class="container gallery">
  <section class="section">
    <h1 class="title is-1">{{get page.title locale}}</h1>

    <p>{{{get page.intro locale}}}</p>
  </section>

  {{#each galleries}}
    <section
      class="section"
      id="{{key}}">
      <h3 class="title is-3">{{get name ../locale}}</h3>

      <div class="columns is-multiline is-variable is-1">
        {{> gallery/item
          item=firstItem
          locale=../locale
          polyglot=../polyglot
          size="4"}}

        <div class="column">
          <div class="columns is-multiline is-variable is-1 small-gallery">
            {{#each items}}
              {{> gallery/item
                item=this
                locale=../../locale
                polyglot=../../polyglot
                size="3"}}
            {{/each}}
          </div>
        </div>
      </div>
    </section>
  {{/each}}

  <section class="section">
    {{{get page.outro locale}}}

    <br>

    <p class="has-text-centered">
      <a href="/contact" class="button is-medium is-primary">{{get page.button locale}}</a>
    </p>
  </section>
</div>
