{{!< default}}

{{> doka-header image=content.banner logo=true}}

<div class="container index-content">
  {{> index/intro}}

  {{> index/services services=content.services}}

  {{> index/latest-post}}
</div>
