<section class="hero doka-header" style="background-image: url({{{cloudinaryUrl data.post.image}}})">
</section>

<div class="blog-content">
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters">
          <div class="has-text-centered">
            <h1 class="title is-1">{{t data.post.title}}</h1>
            <div class="blog-meta">
              <time class="post-full-meta-date" datetime="{{date data.post.publishedAt format="YYYY-MM-DD"}}">
                {{date data.post.publishedDate format="D MMMM YYYY"}}
              </time>
              <span class="divider">/</span>
              {{> blog/categories categories=data.post.categories locale=locale}}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8">
          <div class="content">
            {{{t data.post.extended}}}

            <br>

            {{#author}}
              <p>- <a href="/about">{{author.name}}</a></p>
            {{/author}}

            {{> blog/comments url=baseUrl slug=data.post.slug}}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{> blog/floating-header url=baseUrl title=(get data.post.title locale)}}
