<div class="floating-header">
  <div class="floating-header-logo">
    <a href="/">
      <img src="/images/mini_logo_2.png" alt="Doka photos {{__ "logo"}}">
      <span>Doka Photos Blog</span>
    </a>
  </div>

  <span class="floating-header-divider">&mdash;</span>

  <div class="floating-header-title">{{title}}</div>

  <div class="floating-header-share">
      <div class="floating-header-share-label">Share this</div>

      <a
        class="floating-header-share-fb"
        href="https://www.facebook.com/sharer/sharer.php?u={{url}}">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a
        class="floating-header-share-tw"
        href="https://twitter.com/share?text={{encode title}}&amp;url={{url}}">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
  </div>
  <progress class="progress" value="0">
      <div class="progress-container">
          <span class="progress-bar"></span>
      </div>
  </progress>
</div>
