<div class="container">
	<section class="section">
		<nav class="pagination is-centered no-numbers" role="navigation" aria-label="pagination">
			{{#if posts.previous}}
				<a
					class="pagination-previous"
					href="{{paginationPrev posts.previous}}"
					rel="next">
					&larr; {{__ 'blog.newer_posts'}}
				</a>
			{{/if}}

			{{#if posts.next}}
				<a
					class="pagination-next"
					href="{{paginationNext posts.next posts.totalPages}}"
					rel="prev">
					{{__ 'blog.older_posts'}} &rarr;
				</a>
			{{/if}}
		</nav>
	</section>
</div>
