<div class="tile is-4 is-parent">
  <div class="tile is-child">
    <div class="card">
      <div class="card-image">
        <a href="{{postUrl post.slug}}">
          <figure class="image is-2by1 lazyload" data-bgset="{{{cloudinaryUrl post.image}}}" data-sizes="auto">
          </figure>
        </a>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4"><a href="{{postUrl post.slug}}">{{get post.title locale}}</a></p>
          </div>
        </div>

        <div class="content">
          <p><a href="{{postUrl post.slug}}">{{{get post.summary locale}}}</a></p>
          <br>
          <a class="post-date" href="{{postUrl post.slug}}">
            <time datetime="{{date published_at format="YYYY-MM-DD"}}">
              {{date post.publishedDate timeago="true"}}
            </time>
          </a>
          {{> blog/categories categories=post.categories locale=locale}}
        </div>
      </div>
    </div>
  </div>
</div>
