<meta property="og:url" content="{{baseUrl}}">
<meta property="og:title" content="{{get title locale}}">
<meta property="og:description" content="{{get description locale}}">
<meta property="og:image" content="{{cloudinaryUrl image}}">
<meta property="og:site_name" content="Doka Photos">
<meta property="og:locale" content="{{locale}}">
{{{ogLocale locale}}}
