@import '../../node_modules/bulma/sass/utilities/initial-variables';

$primary: $blue;

@import '../../node_modules/bulma/bulma';
@import '../../node_modules/cocoen/dist/css/cocoen.min';
@import '../../node_modules/featherlight/release/featherlight.min';

.cocoen {
  > div {
    &:first-child {
      width: 30%;
    }
  }

  &.featherlight-inner {
    > img {
      height: 83vh;
      width: auto;

      @media screen and (max-width: $desktop - 1px) {
        height: auto;
        width: 90vw;
      }
    }
  }
}

.cocoen-drag {
  left: 30%;
}

// better vertical alignment of list item icons
.fa-li {
  top: .25rem;
}
