@import './externals';
@import './variables';

@import './partials/floating-header';
@import './partials/footer';
@import './partials/nav';

@import './pages/index';
@import './pages/blog';
@import './pages/gallery';
@import './pages/post';

.section {
  padding: 0 3rem 3rem;
}

textarea {
  &.input {
    height: 8rem;
  }
}

.social-links {
  .media + .media {
    border-top: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: $desktop - 1px) {
  .section {
    padding: 0 1rem 3rem;
  }

  .title {
    .is-1 {
      font-size: 2.5rem;
    }
  }
}

img {
  image-rendering: -webkit-optimize-contrast; // sass-lint:disable-line no-vendor-prefixes
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

.content {
  .fa-ul {
    li {
      list-style: none;
    }
  }
}

.social-contacts {
  a {
    color: $text;
  }
}

.container > .notification {
  left: 0;
  position: absolute;
  right: 0;
  top: 1rem;
}
