<section class="section">
  <div class="columns is-centered">
    <div class="column">
      <div class="columns">
        <div class="column is-4">
          <h1 class="title is-1">{{get content.intro.title locale}}</h1>
        </div>
        <div class="column is-8">
          <div class="content">
            <p>{{{get content.intro.body locale}}}</p>

            <a href="/about" class="button is-primary">
              <span>{{get content.intro.button locale}}</span>
              <span class="icon is-small">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
