<section class="section">
  <div class="columns is-centered">
    <div class="column">
      <h1 class="title">{{get content.latestPost locale}}</h1>

      <div class="card latest-post">
        <div class="columns is-gapless">
          <div class="column">
            <a href="{{postUrl latestPost.slug}}">
              <figure class="image lazyload" data-bgset="{{cloudinaryUrl latestPost.image}}" class="lazyload" data-sizes="auto"></figure>
            </a>
          </div>
          <div class="column">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><a href="{{postUrl latestPost.slug}}">{{get latestPost.title locale}}</a></p>
                </div>
              </div>

              <div class="content">
                <p><a href="{{postUrl latestPost.slug}}">{{{get latestPost.summary locale}}}</a></p>
                <br>
                <time datetime="{{date latestPost.publishedDate format="YYYY-MM-DD"}}">
                  {{date latestPost.publishedDate timeago="true"}}
                </time>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

      <p class="has-text-right">
        <a href="/blog" class="button is-primary">
          <span>More blog posts</span>
          <span class="icon is-small">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </a>
      </p>
    </div>
  </div>
</section>
