<section class="section services-trio">
  <h1 class="title">{{get services.title locale}}</h1>

  <div class="columns">
    <div class="column">
      <div class="content">
        {{> image-slider
          labels=false
          left=services.image1.before
          right=services.image1.after}}

        <p class="is-size-7 has-text-centered drag-text is-hidden-desktop">
          {{get services.help locale}}
        </p>

        <h1 class="has-text-centered">{{get services.image1.title locale}}</h1>

        {{{get services.image1.body locale}}}
      </div>
    </div>
    <div class="column">
      <div class="content">
        {{> image-slider
          labels=false
          left=services.image2.before
          right=services.image2.after}}

        <p class="is-size-7 has-text-centered drag-text is-hidden-desktop">
          {{get services.help locale}}
        </p>

        <h1 class="has-text-centered">{{get services.image2.title locale}}</h1>

        {{{get services.image2.body locale}}}
      </div>
    </div>
    <div class="column">
      <div class="content">
        {{#if services.image3.after}}
          {{> image-slider
            labels=false
            left=services.image3.before
            right=services.image3.after}}
        {{else}}
          <div>
            <img data-src="{{cloudinaryUrl services.image3.before}}" class="lazyload">
          </div>
        {{/if}}

        <h1 class="has-text-centered">{{get services.image3.title locale}}</h1>

        {{{get services.image3.body locale}}}
      </div>
    </div>
  </div>

  <p class="has-text-centered">
    <a href="/contact" class="button is-medium is-primary">
      {{get services.button locale}}
    </a>
  </p>

  <br>

  {{{get services.message locale}}}
</section>
