<article class="media social-contacts">
  <figure class="media-left">
    <p class="image is-64x64 has-text-centered">
      <a href="{{url}}" target="_blank">
        <i class="fa fa-3x fa-{{icon}}" aria-hidden="true"></i>
      </a>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <a href="{{url}}" target="_blank">
          <strong>{{name}}</strong>
        </a>
        <br>
        <a class="is-hidden-touch" href="{{url}}" target="_blank">
          <small>{{url}}</small>
        </a>
      </p>
    </div>
  </div>
</article>
