{{#if messages}}
  <div class="container">
    {{#if messages.info}}
      <div class="notification is-info">
        {{{flashMessages messages.info}}}
      </div>
    {{/if}}
    {{#if messages.success}}
      <div class="notification is-success">
        {{{flashMessages messages.success}}}
      </div>
    {{/if}}
    {{#if messages.warning}}
      <div class="notification is-warning">
        {{{flashMessages messages.warning}}}
      </div>
    {{/if}}
    {{#if messages.error}}
      <div class="notification is-danger">
        {{{flashMessages messages.error}}}
      </div>
    {{/if}}
  </div>
{{/if}}
