<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <a href="/">Doka Photos</a> &copy; {{date format="YYYY"}}
      </div>
      <div class="column">
        <ul>
          <li><a href="/">{{__ "home"}}</a></li>
          {{#each social}}
            <li>
              <a href="{{url}}" target="_blank">{{name}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</footer>
