<div class="cocoen">
  <img src="{{cloudinaryUrl left}}">
  <img src="{{cloudinaryUrl right}}">
</div>

{{#if labels}}
  <div class="labels">
    <span class="before">{{__ 'gallery.before'}}</span>
    <span class="after">{{__ 'gallery.after'}}</span>

    <p class="has-text-centered">
      {{get item.title locale}}
    </p>
  </div>

  <div class="description">
    {{{get item.description locale}}}
  </div>
{{/if}}
