<nav class="navbar is-transparent is-boxed main-nav">
  <div class="container">
    <div class="navbar-brand">
      <a href="/">
        <img src="/images/mini_logo_2.png" alt="Doka Photos">
      </a>

      <button class="button navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <ul class="nav">
          {{#each navLinks}}
            <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
              <a href="{{ href }}">{{ label }}</a>
            </li>
          {{/each}}
          <li>
            <a href="http://www.jasmijndecuyper.com/" target="_blank">Photography</a>
          </li>
          {{!-- <li class="navbar-item has-dropdown">
            <a class="navbar-link" href="#">Language</a>

            <div class="navbar-dropdown">
              <a href="/en{{url}}" class="navbar-item">
                English
              </a>
              <a href="/fr{{url}}" class="navbar-item">
                Francais
              </a>
              <a href="/nl{{url}}" class="navbar-item">
                Nederlands
              </a>
            </div>
          </li> --}}
        </ul>
      </div>
    </div>

    <div class="social-links is-hidden-touch">
      {{#each social}}
        <a class="social-link {{icon}}" href="{{url}}" target="_blank">
          <i class="fa fa-{{icon}}" aria-hidden="true"></i>
        </a>
      {{/each}}
    </div>
  </div>
</nav>
