.floating-header {
  align-items: center;
  background: $white;
  border-bottom: $black 1px solid;
  display: flex;
  height: 60px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(0, -120%, 0);
  transition: all 500ms cubic-bezier(.19, 1, .22, 1);
  visibility: hidden;
  z-index: 1000;

  span {
    font-size: .75rem;
  }

  .floating-header-logo {
    font-size: 1.6rem;
    letter-spacing: -1px;
    line-height: 1rem;
    margin: 0 0 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      align-items: center;
      color: $grey-darker;
      display: flex;
      font-weight: 700;
      line-height: 1.1rem;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      margin: 0 10px 0 0;
      max-height: 20px;
    }
  }

  .floating-header-divider {
    line-height: 1rem;
    margin: 0 5px;
  }

  .floating-header-title {
    color: $grey-darker;
    flex: 1;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.3rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .floating-header-share {
    align-items: center;
    display: flex;
    font-size: 1.3rem;
    justify-content: flex-end;
    line-height: 1;
    padding-left: 2%;

    a {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    svg {
      fill: $white;
      height: 18px;
      vertical-align: middle;
      width: auto;
    }

    .floating-header-share-label {
      align-items: center;
      color: $black;
      display: flex;
      flex-shrink: 0;
      font-size: .8rem;
      font-weight: 500;
      margin-right: 10px;

      svg {
        height: 18px;
        margin: 0 5px 0 10px;
        stroke: $black;
        transform: rotate(90deg);
        width: 18px;
      }
    }

    .floating-header-share-tw,
    .floating-header-share-fb {
      align-items: center;
      color: $white;
      height: 60px;
      line-height: 48px;
      text-align: center;
      transition: all 500ms cubic-bezier(.19, 1, .22, 1);
      width: 60px;
    }

    .floating-header-share-tw {
      background: $twitter;
    }

    .floating-header-share-fb {
      background: $facebook;
    }
  }
}

.floating-active {
  transform: translate3d(0, 0, 0);
  transition: all 500ms cubic-bezier(.22, 1, .27, 1);
  visibility: visible;
}

.progress {
  appearance: none;
  background: transparent;
  border: 0;
  bottom: -1px;
  color: $blue;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;

  ::-webkit-progress-bar { // sass-lint:disable-line no-vendor-prefixes
    background-color: transparent;
  }

  ::-webkit-progress-value { // sass-lint:disable-line no-vendor-prefixes
    background-color: $blue;
  }
}

.progress-container {
  background-color: transparent;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.progress-bar {
  background-color: $blue;
  display: block;
  height: inherit;
  width: 50%;
}

@media (max-width: 900px) {
  .floating-header {
    height: 40px;
  }

  .floating-header-title,
  .floating-header-logo {
    font-size: 1.5rem;
  }

  .floating-header-share-tw,
  .floating-header-share-fb {
    height: 40px;
    line-height: 38px;
    width: 40px;
  }
}

@media (max-width: 800px) {
  .floating-header-logo {
    margin-left: 10px;

    a {
      color: $black-ter;
    }
  }

  .floating-header-title,
  .floating-header-divider {
    visibility: hidden;
  }
}

@media (max-width: 450px) {
  .floating-header-share-label {
    display: none;
  }
}
