.footer {
  background: $black;
  color: $grey-lighter;
  font-size: .8rem;
  margin-top: 3rem;
  padding: 2rem 1.5rem 3rem;

  a {
    color: $grey-lighter;
  }

  ul {
    text-align: right;

    li {
      display: inline-block;
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: $desktop - 1px) {
  .footer {
    ul {
      text-align: center;
    }

    .column {
      :first-child {
        text-align: center;
      }
    }
  }
}
