.main-nav {
  background: transparent;
  border-bottom: 1px solid $blue;
  height: 3rem;
  width: 100%;

  .navbar-brand {
    margin-right: 1rem;
    padding-top: .75rem;

    img {
      max-height: 1.5rem;
      width: 93px;
    }

    .navbar-burger {
      border: 0;
      border-radius: 0;
      height: 3.15rem;
      outline-color: $white;
      position: absolute;
      right: 10px;
      top: 0;

      &:hover {
        background-color: initial;
      }
    }
  }

  .nav {
    background: transparent;
    display: flex;
    height: 1.5rem;
    padding-top: .65rem;

    a {
      color: $text;
      font-size: .8rem;
      padding: 0 .5rem;
      text-transform: uppercase;

      &:hover {
        color: $grey-darker;
      }
    }

    .navbar-item {
      display: block;
    }

    .navbar-link {
      display: inline;

      &::after {
        right: -.25rem;
      }
    }

    .navbar-dropdown {
      top: 2.5rem;
    }
  }

  .social-links {
    position: absolute;
    right: 0;
    top: 14px;

    a {
      color: $grey-dark;
      height: 1.5rem;
      margin: 10px;

      &:hover {
        color: $grey-darker;
      }

      i {
        .fa {
          font-size: 1.3rem;
        }
      }
    }
  }
}

.doka-header {
  background-size: cover;
  height: 420px;
  margin-bottom: 3rem;

  img {
    margin: auto;
    width: 530px;
  }
}

@media screen and (max-width: $desktop - 1px) {
  .main-nav {
    .navbar-brand {
      a {
        padding-left: 20px;
      }
    }

    .nav {
      display: block;
      height: 100vh;

      li {
        height: 3rem;
      }

      a {
        display: block;
      }
    }
  }

  .doka-header {
    background-position: right;
    height: 320px;

    img {
      width: 65%;
    }
  }
}

@media screen and (max-width: $tablet - 1px) {
  .doka-header {
    background-position: right;
    height: 320px;

    img {
      width: 65%;
    }
  }
}
