.blog-index {
  flex-wrap: wrap;

  .image {
    background-position: center;
    background-size: cover;
  }

  a {
    color: $grey-darker;
  }

  .card {
    height: 528px;
    width: 100%;
  }

  .title {
    height: 3.5rem;
  }

  .content {
    margin-bottom: 1rem;
  }

  .post-date {
    bottom: 1.5rem;
    color: $grey;
    left: 1.5rem;
    position: absolute;
  }
}

.blog-content {
  .section {
    :first-child {
      padding-bottom: 0;
    }
  }

  .kg-card-markdown { // TODO: no longer used
    > p {
      :first-child {
        font-size: 1.15rem;
        line-height: 1.5rem;
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .instagram-media-rendered {
    margin: 2rem auto !important;
  }
}

.pagination {
  .no-numbers {
    justify-content: center;
  }
}
