.gallery {
  .image {
    background-position: center;
    background-size: cover;
  }

  .small-gallery {
    padding-top: .75rem;

    .column {
      padding-bottom: .5rem;
      padding-top: 0;
    }
  }
}

.labels {
  span {
    background: transparentize($black, .4);
    color: $white;
    padding: .5rem 1rem;
    position: absolute;
    top: 2rem;

    &.before {
      left: 2rem;
    }

    &.after {
      right: 2rem;
    }
  }

  p {
    font-size: .8rem;
    left: 0;
    position: absolute;
    right: 0;
    top: .25rem;
  }
}

.description {
  background: transparentize($black, .4);
  bottom: 2rem;
  color: $white;
  font-size: .8rem;
  left: 25px;
  padding: 0 1rem;
  position: absolute;
  right: 25px;
}
