.services-trio {
  .columns {
    margin-bottom: 2rem;
  }

  .content {
    p {
      :not(:last-child) {
        .drag-text {
          margin-bottom: -18px;
        }
      }
    }
  }

  img {
    display: block;
  }
}

.latest-post {
  a {
    color: $text;
  }

  .image {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
    }
  }
}
